

.container {
    color: white;
    background-color: #33616C;
    border-radius: 50px 0px 50px 0px;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    text-align: center;
    z-index: 5;
    margin-top: -70px;
     
    h1 {
        font-family: 'zen loop';
        font-weight: 400;
        font-size: 64px;
        letter-spacing: 10px;

    }

    p {
        
        line-height: 22px;
        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        word-spacing: 1px;
    }
    .gitte {
        width: auto;
        height: 200px;
    }

    img {
        border-radius: 50%;
    }

  button {
    font-family: 'zen loop';
    font-size: 40px;
    font-weight: lighter;
    color: white;
    border: none;
    padding-block: 35px;
    padding-inline: 85px;
    border-radius: 50px 0px 50px 0px;
    background-color: #829B97;
    margin-top: 70px;
}
    button:hover{
        background-color: palevioletred;
    }
}
