
footer {
    height: auto;
    width: 100%;
    padding: 50px 0 50px 0;
    text-align: center;
    color: white;
    background-color: #294F56;
}

.footerContent {
   
}

.Icons {

/*     .soMeIcons {

} */
}


.logoBox {

    p {
        font-size: 30px;

} 

    .logo {
    height: 60px;
}
}



