.cardContainer {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  transition: max-height 0.3s ease;
}

.cardHeader {
  background-color: #d0b799;
  padding: 20px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.cardHeader h1 {
  font-size: 24px;
  color: white;
  margin: 0;
}

.cardImage {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.cardDetails {
  background-color: #6b8d8a;
  padding: 15px;
  color: white;
  border-radius: 0 0 10px 10px;
}

.detailsText {
  margin-bottom: 10px;
}

.detailsText p {
  margin: 0;
  font-size: 14px;
}

.detailsActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.readMoreButton {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.readMoreButton:hover {
  background-color: white;
  color: #6b8d8a;
}

.active {
  background-color: white;
  color: #6b8d8a;
}

.arrow {
  margin-left: 5px;
}

.favoriteIcon {
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.favoriteIcon:hover {
  color: #f00;
}

.detailsContent {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.open {
  max-height: 500px; /* Adjust as necessary */
}
